<section id="search-container">
  <hr class="divider short" />
  <div class="search-box">
    <form id="search-form">
      <i class="icon icon-search" id="search-icon"></i>
      <input id="search-input" maxlength="255" type="text" name="search" placeholder="What are you looking for?" />
    </form>
  </div>
</section>
